
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493817948276'); /* IE9*/
  src: url('iconfont.eot?t=1493817948276#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493817948276') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493817948276') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493817948276#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdown:before { content: "\e648"; }

.icon-down:before { content: "\e703"; }

.icon-cross:before { content: "\e638"; }

.icon-plus:before { content: "\e639"; }

.icon-voice:before { content: "\e75a"; }

.icon-leftArrow:before { content: "\e670"; }

.icon-admin:before { content: "\e61d"; }

.icon-gear:before { content: "\e65b"; }

.icon-reduce:before { content: "\e609"; }

.icon-defaultImg:before { content: "\e60a"; }

.icon-copy:before { content: "\e60b"; }

.icon-date:before { content: "\e60c"; }

.icon-delete:before { content: "\e60d"; }

.icon-info:before { content: "\e60e"; }

.icon-add:before { content: "\e60f"; }

.icon-up:before { content: "\e610"; }

.icon-modify:before { content: "\e611"; }

.icon-version:before { content: "\e612"; }

.icon-home:before { content: "\e613"; }

.icon-logs:before { content: "\e614"; }

.icon-images:before { content: "\e616"; }

.icon-phone:before { content: "\e617"; }

.icon-clock:before { content: "\e618"; }

.icon-send:before { content: "\e619"; }

.icon-local:before { content: "\e61a"; }

.icon-road:before { content: "\e61b"; }

.icon-earphone:before { content: "\e615"; }

.icon-list:before { content: "\e61c"; }

